GROQ_API_KEY=<YOUR API KEY>
TAVILY_API_KEY=<YOUR API KEY>
GPLACES_API_KEY=<YOUR API KEY>
OPENWEATHERMAP_API_KEY=<YOUR API KEY>
EXCHANGE_RATE_API_KEY=<YOUR API KEY>
FOURSQUARE_API_KEY=<YOUR API KEY>
SUPABASE_URL=<YOUR SUPABASE URL>
SUPABASE_SERVICE_KEY=<YOUR SUPABASE SERVICE KEY>
